name: Refresh data (Scrap movies from cinemas)

on:
  push:
  schedule:
    - cron: "0 */5 * * *"

jobs:
  scrap:
    name: Scrap movies from cinemas
    runs-on: ubuntu-latest
    steps:
      - name: ☁️ Trigger cinemas
        run: curl -X GET "https://europe-west1-premiereprojo.cloudfunctions.net/scrapAllCinemas" > /dev/null 2>&1 &
